  <% form_for(Type.Create) do |Type| %>
    <h1>INDEX OF POSTS</h1>
      <div class="entries-container">
        <% @posts.each do |post| %>
      <div>Title: <%= post.title%></div>
  <% end %>
  <% end %>
    </div>
