<h1 class="admin_index"> Admin Home Page </h1>

<a  href="admin/posts"><button class = "admin_home_b">Posts</button></a>
<a  href="admin/authors"><button class = "admin_home_b">Authors</button></a>
<a  href="admin/tags"><button class = "admin_home_b">Tags</button></a>