      </div>
    </section>
    <% @tags.each do |tag| %>
    <section class="search-results">
      <div class="search-results-container-centered">
        <div class="search-results-img-container">
        </div>
        <div class="search-results-txt">
          <h2> 
            # <%= tag.name %>
          </h2>
      </div>
    </section>
    <% end %>
    <div class="ad-horiz-background">
      <div class="ad-horiz-container-centered">
        <section class="ad-horiz-img-container">
          @@ -47,52 +50,8 @@
        </section>
      </div>
    </div>