body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Alegreya', serif;
  margin: 0;
  width: 100%;
}

/*HEADER-FOOTER*/

 header {
  background-image: linear-gradient(to right,  #005bea,#00c6fb );
  color: #ffffff;
  font-family: 'Alegreya SC', serif;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  margin: 0;
 }